.DS_Store
.cache
/parch-messaging/app/__pycache__
/parch-messaging/project/__pycache__/
/parch-messaging/app/migrations
/parch-messaging-frontend/node_modules/
/parch-messaging-frontend/package-lock
/parch-messaging-frontend/package-lock.json