
.info {
    font-weight: 600;
    line-height: 20px;
    font-size: 17px;
    color: #999;
    padding: inherit;
}

/*.phone-app-demo{*/
/*    height: 61.8rem;*/
/*    background: url("images/.png") center no-repeat;*/
/*    flex: 1;*/
/*}*/

.form-data {
    width: 100%;
    max-width: 35rem;
    margin-top: 3rem;
}

.form-data form {
    background-color: #fff;
    border: 2px solid #eee;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    text-align: center;
}

.logo img {
    width: 17.5rem;
    margin: 2.5rem;
}

.form-data form input {
    padding: .8rem;
    margin-bottom: .5rem;
    border: 2px solid #eee;
    border-radius: .4rem;
}

.form-button {
    margin: 1rem 0 1rem;
    height: 3rem;
    background-color: #3897f0;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
}

/* below code is for the OR divider/ line
    before and after the word "or"
*/
.separator {
    font-size: 1.3rem;
    color: #a8a8a8;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 2.5rem;
}

.separator::before,
.separator::after {
    content: "";
    position: absolute;
    background-color: #dddddd;
    height: 1px;
    width: 40%;
    top: 50%;
    transform: translateY(-50%);
}

.separator::before {
    left: 0;
}

.separator::after {
    right: 0;
}

/* editing Social Media icon buttons below */

/*.fa {*/
/*    padding: 20px;*/
/*    font-size: 30px;*/
/*    width: 50px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*}*/

.fa-facebook 
   /* margin: 10px 30px;
/*    display: inline-block;*/
/*    font-size: 20px;*/
/*    padding: 20px 20px;*/
/*    color: #3c5898;*/
/*    border: 1px solid #3c5898;*/
/*    border-radius: 50%;*/
/*    transition: .5s;*/


/* .fa applies to all social media buttons */

.fa {
    padding: 13px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    justify-content: left;
}

.fa:hover {
    opacity: 0.7;
}

/* round button for social media */
/*.fa {*/
/*    padding: 20px;*/
/*    font-size: 30px;*/
/*    width: 30px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    border-radius: 50%;*/
/*}*/

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

/* positioning login with info */

/*.fb-login, .gg-login {*/
/*    font-size: 1.2rem;*/
/*    color: #003869;*/
/*    display: flex;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*}*/

.fb-login {
    margin: 1rem 0 1rem;
    height: 4rem;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #3B5998;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
    text-decoration: none;
}

.gg-login {
    margin: 1rem 0 1rem;
    height: 4rem;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #dd4b39;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
    text-decoration: none;
}

.password-reset {
    font-size: 1.2rem;
    color: #003869;
}

.sign-up {
    text-align: center;
    font-size: 1.4rem;
    color: #262626;
    padding: .5rem 0;
    background-color: #fff;
    border: 2px solid #eee;
    margin: 1rem 0;
}

.sign-up a {
    color: #3897F0;
    font-weight: bold;
}

.get-app {
    font-size: 1.4rem;
    text-align: center;
}

.get-app span {
    display: block;
    margin: 2rem 0;
    color: #262626;
}

.app-stores {
    width: 100%;
    display: flex;
    justify-content: center;
}

.app-stores img {
    max-width: 15rem;
    cursor: pointer;
}

.app-stores img:first-child {
    margin-right: 1rem;
}

@media (max-width: 450px) {
    #wrapper {
        padding-top: 0;
    }

    .form-data form {
        background-color: transparent;
        border: none;
        padding: 0 2rem;
    }

    .sign-up {
        background-color: transparent;
        border: none;
        margin: 4rem 0;
    }

}